{% load staticfiles %}
<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-blue ">
  <a href="{% url 'home' %}" class="w3-bar-item w3-button  w3-white  w3-mobile w3-xlarge" style="z-index:3;width:320px;">
      <!--<img src="logo.png" style="width:10%;">-->
    PredicTx</a>
  <a href="{% url 'test' %}" class="w3-bar-item w3-button w3-mobile">Diseases</a>
  <a href="#about" class="w3-bar-item w3-button w3-mobile">About</a>
  <a href="#contact" class="w3-bar-item w3-button w3-mobile">Contact</a>
  <a href="{% url 'test' %}" class="w3-bar-item w3-button w3-right  w3-mobile">Test Now</a>
</div>

<header>
<!-- Good offers -->
  <div class="w3-container w3-margin-top">
    <h3>Diseases</h3>
    
  </div>
  <div class="w3-row-padding w3-text-white w3-large">
   
    <div class="w3-padding">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
              <a href="{% url 'diabetes' %}">
            <img src="{% static 'assets/images/dia.jpeg' %}" alt="Diabetes" style="width:100%">
            <span class="w3-display-bottomleft w3-padding w3-black">Diabetes</span>
              </a>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
               <a href="{% url 'cardio_vascular' %}">
            <img src="{% static 'assets/images/heart.jpeg' %}" alt="San Francisco" style="width:100%">
            <span class="w3-display-bottomleft w3-padding w3-black">Cardio Vascular Test</span>
              </a>
          </div>
        </div>
      </div>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="{% static 'assets/images/a1.jpeg' %}" alt="Pisa" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Diseases A</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="{% static 'assets/images/b.jpg' %}" alt="Paris" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Diseases B</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </header>
  
  
<!-- Footer -->
<footer class="w3-padding-32 w3-dark-grey w3-center w3-margin-top">
  <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">team a1</a></p>
</footer>




</body>
</html>